:root {
    --color-primario: #f3f3f3;
    --color-secundario: #c8e9c1;
    --color-contenido: #d4eaf7;
    --tamano-p: 1.4em;
    --button-shadow-hover: 0 8px 12px rgba(0, 0, 0, 0.2);
    --button-transform-hover: translateY(-2px);
}

html {
   scroll-behavior: smooth;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    height: auto;
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Crimson Text', serif;
}

.header {
    width: 100%;
    background-color: white;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.lista {
    display: flex;
    color: black;
}

.lista li {
    margin-right: .9375rem;
    text-decoration: none;
    list-style-type: none;
    font-size: larger;
}

.lista li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 2px solid transparent; /* Línea transparente por defecto */
    transition: border-color 0.3s ease, color 0.3s ease;
}

.lista li a:hover {
    border-color: #3498db; /* Color de la línea al hacer hover */
}

@media (max-width: 600px) {
    .header {
        width: 100%;
        padding: 0%;
    }
    .menu {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

.menu img {
    width: 3.5rem;
    height: auto;
}

/*Banner-Bienvenida*/

.banner-bienvenida {
    width: 100%;
    height: 12rem;
    background-color: #cef2c7;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.container-banner-flex1 h1 {
    font-size: 30px;
}

.container-banner-flex1 p {
    font-size: larger;
}

@media (max-width: 780px) {
    .banner-bienvenida {
        width: 100%;
        height: auto;
    }
    .container-banner-flex {
        width: 90%;
    }
}

/*Section-Bienvenida*/

.section-bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-bienvenida-autoayuda {
    height: auto;
    width: 35rem;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--color-contenido);
}

@media (max-width: 600px) {
    .container-bienvenida-autoayuda {
        width: 80%;
    }
}

.container-bienvenida-autoayuda h2 {
    font-size: 1.7em;
}

.container-bienvenida-autoayuda p {
    font-size: 1.5em;
    text-align: justify;
}

/*Banner 2*/

.banner-frase2 {
    width: 100%;
    height: 192px;
    background-color: var(--color-secundario);
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

@media (max-width: 780px) {
    .container-banner-flex2 {
        width: 90%;
    }
}

.container-banner-flex2 h1 {
    font-size: 30px;
}

.container-banner-flex2 p {
    font-size: larger;
}

/*Section Libros de Autoayuda*/

.section-libros-autoayuda {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primario);
}

.section-libros-autoayuda .titulo-libros h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 3rem;
    margin-top: 3rem;
}


.section-libros-autoayuda .contenido-section-libros {
    height: auto;
    width: 35rem;
    font-size: var(--tamano-p);
    text-align: justify;
    margin-bottom: 3rem;
    background-color: var(--color-contenido);
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 780px) {
    .section-libros-autoayuda .contenido-section-libros {
        width: 80%;
    }
}

.section-libros-autoayuda .container-section {
    width: 70rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

@media (max-width: 780px) {
    .section-libros-autoayuda .container-section  {
        width: 100%;
    }
}

.section-libros-autoayuda .container-section .container-tus-zonas-erroneas {
    width: 20rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px;
    margin-bottom: 3rem;
    border-radius: 20px;
}

.container-tus-zonas-erroneas img {
    width: 20rem;
    height: 28rem;
}

.container-tus-zonas-erroneas .contenido-card {
    width: auto;
    height: 45rem;
    margin-top: 0px;
    flex-grow: 1;
    flex-shrink: 1;
}

.container-tus-zonas-erroneas .contenido-card p {
    font-size: 1.4em;
    text-align: justify;
}

.container-tus-zonas-erroneas .footer button {
    background-color: var(--color-secundario);
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px; 
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
 
}

.container-tus-zonas-erroneas .footer button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/*Estilar boton Jugar con estilos pregunta a chatgpt*/




/*Section Articulos Autoayuda*/

.section-articulos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-articulos .titulo-articulos h1 {
    height: auto;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 3rem;
    
}

.section-articulos .contenido-section-articulos {
    height: auto;
    width: 35rem;
    font-size: var(--tamano-p);
    text-align: justify;
    margin-bottom: 3rem;
    background-color: #d4eaf7;
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .section-articulos .contenido-section-articulos {
        width: 80%;
    }
}

.container-section-articulos {
    width: 70rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 780px) {
    .section-articulos .container-section-articulos {
        width: 100%;
    }
}

.container-section-articulos .container-articulo1 p {
    font-size: 1.4em;
    text-align: justify;
}

.section-articulos .container-section-articulos .container-articulo1 {
    width: 20rem;
    height: auto;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.container-articulo1 div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container-articulo1 img {
    width: 320px;
    aspect-ratio: 2/1.5;
}

.container-articulo1 button {
    margin-bottom: 32px;
    background-color: #98EBC7;
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.container-articulo1 button:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

/*Section Recursos Autoayuda*/

/*Div contenedor de iframe con dimensiones mas grande y poder alinear el contenido al final, se ha quitado ahora, puede ser por el tamaño del contenedor padre*/

.section-recursos .titulo-recursos h1 {

    height: auto;
    width: 100%;
    margin-bottom: 3rem;
}

.section-recursos {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-recursos .contenido-section-recursos {
    height: auto;
    width: 35rem;
    font-size: var(--tamano-p);
    text-align: justify;
    margin-bottom: 3rem;
    background-color: var(--color-contenido);
    padding: 20px;
    border-radius: 20px;
    
}

@media (max-width: 600px) {
    .section-recursos .contenido-section-recursos {
        width: 80%;
    }
}

.container-section-recursos {
    width: 70rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

@media (max-width: 780px) {
    .section-recursos .container-section-recursos {
        width: 100%;
    }
}

.section-recursos .container-section-recursos .container-recurso1 {
    width: 20rem;
    height: 40rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 15px;
    border-radius: 20px;
}

.container-recurso1 p {
    font-size: var(--tamano-p);
    text-align: justify;
}

.contenido-recurso {
    width: auto;
    flex-grow: 1;
}

.footer-recursos button {
    background-color: #8BBEEB;
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.footer-recursos button:hover {
    box-shadow: var(--button-shadow-hover);
    transform: var(--button-transform-hover);
}


/*Section Audiolibros Autoayuda*/

.section-audiolibros {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.titulo-audiolibros {
    text-align: center;
    margin-bottom: 3rem;
}

.section-audiolibros .contenido-section-audiolibros {
    height: auto;
    width: 35rem;
    font-size: var(--tamano-p);
    text-align: justify;
    margin-bottom: 3rem;
    background-color: var(--color-contenido);
    padding: 20px;
    border-radius: 20px;
}

@media (max-width: 780px) {
    .section-audiolibros .contenido-section-audiolibros {
        width: 80%;
        
    }
    .contenido-audiolibros {
        width: 100%;
    }
}

.contenido-audiolibros {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.audiolibro-row {
    width: 70rem;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;

}

@media (max-width: 780px) {
    .audiolibro-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.contenido-audiolibros .audiolibro-row .audiolibro-portada {
    width: 25%;
    height: 85%;
}

.contenido-audiolibros .audiolibro-row .audiolibro-contenido {
    width: 28rem;
    height: 100%;
    background-color: white;
    text-align: justify;
    padding: 15px;
    border-radius: 20px;
}

.contenido-audiolibros .audiolibro-row .audiolibro-contenido p {
    font-size: var(--tamano-p);
}

.contenido-audiolibros .audiolibro-row img {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .contenido-audiolibros .audiolibro-row img {
        width: 18rem;
    }
}

.footer-audiolibros button {
    background-color: var(--color-secundario);
    padding: 8px 28px;
    border-radius: 20px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: none;
    outline: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.footer-audiolibros button:hover {
    box-shadow: var(--button-shadow-hover);
    transform: var(--button-transform-hover);
}

/*Section Boletin*/

.contenido-boletin {
    background-color: var(--color-secundario);
    width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.contenido-boletin form {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.contenido-boletin .campo {
    padding: 10px 30px;
    border: solid black 0.5px;
}

.contenido-boletin .btn-sub {
    background-color: var(--color-contenido);
    line-height: 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .02em;
    border: solid black 0.5px;
    outline: none;
}